@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff");
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff") format("woff");
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff") format("woff");
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
:root {
  --title-font: "Oswald", "Arial", sans-serif;
  --description-font: "Lato", "Tahoma", sans-serif;
  --primary-color: #000000;
  --secondary-color: #111111;
  --description-color: #444444;
  --title-color: #222222;
  --background-color-primary: #ffffff;
  --background-color-secondary: #f2f2f2;
  --background-color-button: #68b738;
  --tablet-width: 768px;
  --decktop-width: 1440px;
}

.page {
  background-color: #e5e5e5;
}

.page__body {
  color: var(--primary-color);
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page__body {
    width: 1440px;
  }
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 11px;
  margin-bottom: 45px;
  width: 280px;
}

@media (min-width: 768px) {
  .main-header__logo-text {
    display: none;
  }

  .main-nav__button-toggle {
    display: none;
  }

  .main-header {
    width: 700px;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
  }

  .main-header__logo-icon--tablet {
    background-image: url("../../img/index/logo-tablet.svg");
    width: 174px;
    height: 52px;
    display: block;
  }
}
@media (min-width: 1440px) {
  .main-header {
    width: 1220px;
    margin-right: 120px;
    margin-left: 120px;
  }
}
.main-nav__item {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .main-nav__container {
    display: none;
  }
}
.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 478px;
  }
}
.main__promo-section {
  position: relative;
}

.main__promo-text {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: var(--background-color-primary);
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
}

.main__promo-text-description {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--background-color-primary);
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
}

.main__promo-image {
  margin-bottom: 138px;
}

.main__promo-image::after {
  content: "";
  background-image: url("../../img/index/Rectangle-17.svg");
  width: 320px;
  height: 302px;
  position: absolute;
}

.main__promo-background {
  position: absolute;
  top: 167px;
  left: 20px;
}

.main-catlog__programs-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-catlog__programs-description {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--description-color);
}

.main-catlog__programs-link {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.main-catlog__programs {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.advantages {
  width: 279px;
  margin: 0 auto;
}

.advantages__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__container {
  margin-left: 80px;
  margin-right: 20px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}

.advantages__item {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--description-color);
}

.example {
  width: 280px;
  margin: 0 auto;
}

.example__wrapper {
  background-color: #eaeaea;
}

.example__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__desc {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--description-color);
}

.example__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__indicator {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.example__term {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.example__defination {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  margin: 0;
  width: 80px;
  text-align: center;
}

.example__food-coast-desc {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.cooperation {
  width: 280px;
  margin: 0 auto;
}

.cooperation__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.cooperation__addres {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--description-color);
}

.cooperation--form {
  background-color: var(--background-color-secondary);
  width: 320px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-secondary);
}

.button {
  background-color: var(--background-color-button);
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--background-color-primary);
  width: 280px;
  display: block;
}

.main-button {
  background-color: var(--background-color-button);
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--background-color-primary);
}

.visually-hidden {
  display: none;
}

.catalog {
  width: 280px;
  margin: 0 auto;
}

.catalog__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 59px;
}

.catalog__product-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog__product {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 33px;
}

.catalog__product-image {
  width: 140px;
}

.catalog__product-description {
  width: 140px;
}

.catalog__product-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: --title-color;
}

.catalog__description-term {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--description-color);
  width: 50%;
}

.catalog__description-definition {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--description-color);
  margin: 0;
  width: 50%;
}

.catalog__description {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.catalog__show-more-button {
  width: 280px;
}

.catalog__show-more-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
}

.catalog__show-more-desc {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--description-color);
}

.extra__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.extra__indent {
  margin-bottom: 49px;
}

.extra__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
}

.extra__item {
  margin-bottom: 31px;
}

.extra__product-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
}

.extra__desc-item {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: var(--description-color);
}

.extra__desc {
  display: flex;
  justify-content: space-between;
}

.stock {
  margin-bottom: 35px;
  position: relative;
}

.stock__indent {
  margin: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  top: 187px;
  width: 116px;
  left: 50%;
  margin-left: -58px;
}

.stock__desc {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.stock__layer {
  display: block;
  margin: 0 auto;
}

.stock__bg-effect {
  position: relative;
}

.stock__bg-effect-layer {
  position: absolute;
  right: 20px;
}

.fieldsets-indent {
  border: none;
  padding: 0;
  margin-left: 0;
}

.fieldsets-indent--catalog {
  margin-bottom: 32px;
}

.fieldsets-indent--contacts-owner {
  margin-bottom: 10px;
}

.fieldsets-indent--textarea {
  margin-bottom: 23px;
}

.indent-age {
  width: 173px;
  padding: 0;
  margin-bottom: 14px;
}

.legend-style-indent {
  margin-bottom: 35px;
}

.list-indent {
  margin-bottom: 22px;
}

.indent-name {
  width: 228px;
  padding: 0;
  margin-bottom: 14px;
}

.section-form {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  width: 280px;
  margin-bottom: 32px;
}

.section-form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.section-form__title-indent {
  margin-bottom: 37px;
}

.section-form__desc {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.section-form__desc-indent {
  margin-bottom: 39px;
  display: block;
}

.section-form__lable {
  border: none;
  padding-bottom: 35px;
}

.section-form__about-cat {
  margin-bottom: 32px;
}

.section-form__style {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--description-font);
  padding: 0;
}

.section-form__form {
  margin-bottom: 21px;
}

.section-form__style--list {
  list-style-type: none;
  color: var(--title-font);
  margin-bottom: 32px;
  padding: 0;
}

.section-form__legend-style {
  font-size: 24px;
  line-height: 26px;
}

.section-form__style-control {
  color: var(--primary-color);
}

.section-form__item {
  margin-bottom: 13px;
}

.section-form__footnote {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--primary-color);
}

.section-form__controls-input {
  margin-bottom: 13px;
}

.contacts-owner__input {
  margin-bottom: 14px;
}

.indetnt-weight {
  width: 207px;
  padding: 0;
  margin-bottom: 14px;
}

:root {
  --tablet-width: 768px;
  --desktop-widt: 1440px;
}
/*# sourceMappingURL=style.css.map */