.advantages {
  width: 279px;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin-left: 30px;
    min-height: 410px;
  }

  @media (min-width: 1440px) {
    width: 1224px;
    margin: 0 auto;
    min-height: 400px;
  }
}

.advantages__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__container {
  margin-left: 80px;
  margin-right: 20px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 230px 230px;
    row-gap: 37px;
    column-gap: 153px;
  }

  @media (min-width: 1440px) {
    display: flex;
  }
}

.advantages__item {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--description-color);

  @media (min-width: 1440px) {
    width: 250px;
  }
}
