.button {
  background-color: var(--background-color-button);
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--background-color-primary);
  // width: 280px;
  display: block;
  padding: 10px 93px;
}
