.button {
  background-color: #68b738;
  font-family: var(--oswald);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  width: 280px;
  display: block;
}
