.contacts-owner__input {
  margin-bottom: 14px;
  width: 220px;
  padding: 0;

  @media (min-width: 768px) {
    width: 548px;
    margin-bottom: 20px;
  }

  @media (min-width: 1440px) {
    width: 486px;
    margin-bottom: 67px;
  }
}

.contacts-owner__input--tel {
  width: 202px;
  padding: 0;

  @media (min-width: 768px) {
    width: 529px;
    margin-bottom: 65px;
  }

  @media (min-width: 1440px) {
    width: 467px;
  }
}
