.cooperation__conteiner {
  @media (min-width: 1440px) {
    position: relative;
    width: 1440px;
  }
}

.cooperation {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: 768px) {
    width: 628px;
    display: flex;
    justify-content: space-between;
    min-height: 199px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: 1440px) {
    width: 565px;
    left: 100px;
    position: absolute;
    top: 92px;
    background-color: var(--background-color-primary);
    padding: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
      width: 628px;
    }

    @media (min-width: 1440px) {
      width: 405px;
      margin: 0 auto;
    }
  }
}

.cooperation--catalog {
  background-color: var(--background-color-secondary);

  @media (min-width: 1440px) {
    background-color: var(--background-color-primary);
  }
}

.cooperation--form {
  background-color: var(--background-color-secondary);
  width: 280px;

  @media (min-width: 768px) {
    width: 628px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    background-color: var(--background-color-primary);
  }
}

.cooperation__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 0;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 172px;
    font-size: 20px;
    line-height: 26px;
    margin-top: 60px;
    margin-bottom: 56px;
  }

  @media (min-width: 1440px) {
    width: 163px;
  }
}

.cooperation__addres {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--description-color);

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 169px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 56px;
    margin-bottom: 63px;
    justify-content: flex-end;
    text-align: end;

    @media (min-width: 1440px) {
      width: 155px;
      margin-top: 56px;
      margin-bottom: 63px;
      text-align: start;
    }
  }
}
