.example__wrapper {
  background-color: var(--background-color-secondary);

  @media (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
    min-height: 1000px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    min-height: 600px;
  }
}

.example {
  width: 280px;
  margin: 0 auto;

  &__border {
    width: 124px;
    height: 56px;
    display: block;
    // background-color:  rgba(205, 205, 205, 1);
    position: absolute;
    z-index: 5;
    border: 1px solid var(--pseudo-color);
    border-radius: 3px;
    bottom: 16px;

    @media (min-width: 768px) {
      width: 162px;
      height: 72px;
      bottom: 35px;
    }

    @media (min-width: 1440px) {
      bottom: 10px;
    }
  }

  @media (min-width: 768px) {
    width: 768px;
  }

  &__tablet {
    @media (min-width: 768px) and (max-width: 1440px) {
      background-color: var(--background-color-primary);
      padding-bottom: 207px;
    }
  }

  @media (min-width: 1440px) {
    width: 1440px;
    display: flex;
  }

  &__tablet--desktop {
    @media (min-width: 1440px) {
      width: 877px;
    }
  }
}

.example__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 40px;
  position: relative;

  &::before {
    @media (min-width: 768px) {
      content: "";
      left: 0;
      top: 30px;
      width: 768px;
      height: 0;
      position: absolute;
      border: 1px solid var(--pseudo-fourth-color);
    }
  }

  @media (min-width: 768px) {
    padding-top: 90px;
    padding-bottom: 63px;
    padding-left: 31px;
    width: 325px;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    padding-top: 69px;
    background-color: var(--background-color-primary);
    padding-left: 110px;
    padding-right: 110px;
    width: 1220px;
  }
}

.example__desc {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--description-color);
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 54px;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: 1440px) {
    padding-left: 110px;
    padding-right: 110px;
    margin-left: 0;
    width: 436px;
  }
}

.example__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  @media (min-width: 768px) {
    margin-right: 41px;
    width: 162px;
    min-height: 72px;
    justify-content: center;
  }

  @media (min-width: 1440px) {
    margin-right: 0;
  }
}

.example__layer {
  display: block;
  background-color: var(--background-color-secondary);
  position: absolute;
  z-index: 5;
  width: 87px;
  height: 31px;
  top: 36px;

  @media (min-width: 768px) {
    background-color: var(--background-color-primary);
    width: 116px;
    height: 31px;
    top: 67px;

    &--tablet {
      width: 140px;
    }
  }

  @media (min-width: 1440px) {
    background-color: var(--background-color-secondary);
    top: 41px;
  }
}


.example__indicator {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 229px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 708px;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: 1440px) {
    width: 436px;
    margin-left: 110px;
  }
}

.example__food-coast {
  width: 207px;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    width: 180px;
    margin-left: auto;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  @media (min-width: 1440px) {
    width: 436px;
    margin-top: 10px;
  }
}

.example__term {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 9px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 11px;
  }
}

.example__defination {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: var(--description-color);
  margin: 0;
  width: 80px;
  text-align: center;
  position: relative;
  z-index: 6;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
    width: 130px;
  }
}

.example__food-coast-term {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: 1440px) {
    text-align: start;
    margin: 0;
    padding-top: 36px;
    padding-right: 83px;
  }
}

.example__food-coast-defination {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: 1440px) {
    text-align: start;
    margin: 0;
    padding-top: 36px;
    padding-right: 67px;
  }
}

.example__changes-images {
  position: relative;

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1440px) {
    width: 560px;
    height: 512px;
  }
}

.example__changes-images--tablet {
  position: relative;
}

.example__changes-images--desktop {
  @media (min-width: 1440px) {
    width: 469px;
    min-height: 200px;
    display: block;
    margin-top: 100px;
  }
}

.example__changes__conteiner {
  position: relative;

  &::before {
    @media (min-width: 768px) and (max-width: 1439px) {
      content: "";
      left: 473px;
      top: -107px;
      width: 410px;
      height: 512px;
      position: absolute;
      background-repeat: no-repeat;
      background-image: url("../../img/index/cat-right-tablet.png");
    }
  }

  @media (min-width: 768px) {
    height: 462px;
  }
}

.example__changes__wrapper {
  display: flex;
  position: relative;

  &::after {
    content: "";
    left: 120px;
    top: 0;
    width: 47px;
    height: 256px;
    position: absolute;
    background-image: url("../../img/index/curtain-slider.png");
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      height: 512px;
      content: "";
      left: 260px;
      top: 0;
      width: 47px;
      position: absolute;
      background-image: url("../../img/index/curtain-slider-tablet.png");
      background-repeat: no-repeat;
    }

    @media (min-width: 1440px) {
      top: 94px;
    }
  }

  &::before {
    @media (min-width: 768px) and (max-width: 1439px) {
      content: "";
      left: 0;
      top: 0;
      width: 560px;
      height: 512px;
      position: absolute;
      background-repeat: no-repeat;
      background-image: url("../../img/index/cat-left-tablet.png");
    }
  }

  @media (min-width: 768px) {
    width: 384px;
    margin: 0 auto;
    bottom: 100px;
  }
}
