.example {
  width: 280px;
  margin: 0 auto;
}

.example__wrapper {
  background-color: #eaeaea;
}

.example__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__desc {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--description-color);
}

.example__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__indicator {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.example__term {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.example__defination {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  margin: 0;
  width: 80px;
  text-align: center;
}

.example__food-coast-desc {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
