.extra {
  margin-left: 20px;
  position: relative;

  @media (min-width: 768px) {
    width: 707px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    width: 896px;
    margin-left: 110px;
    margin-bottom: 86px;
    position: relative;
  }
}

.extra__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  &::after {
    content: "";
    left: 247px;
    width: 53px;
    top: 16px;
    height: 2px;
    position: absolute;
    background-color: var(--background-color-button);

    @media (min-width: 768px) {
      width: 328px;
      left: 410px;
      top: 23px;
    }
  }

  &::before {
    @media (min-width: 768px) {
      content: "";
      left: -31px;
      width: 30px;
      top: 20px;
      height: 2px;
      position: absolute;
      background-color: var(--background-color-button);
    }
  }

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 37px;
  }
}

.extra__indent {
  margin-bottom: 49px;


  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
}

.extra__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) and (max-width: 1439px) {
    border: 1px solid var(--pseudo-third-color);
    padding-top: 26px;
  }
}

.extra__item {
  margin-bottom: 31px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 632px;
    margin: 0 auto;
    margin-bottom: 54px;
    position: relative;

    &--last-position {
      margin-bottom: 26px;
    }
  }

  @media (min-width: 1440px) {
    flex-wrap: nowrap;
    margin: 0;
    width: 896px;
    margin-bottom: 42px;
    padding: 0;
    align-items: center;
  }
}

.extra__product-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 13px;
  display: block;

  @media (min-width: 768px) {
    margin-bottom: 25px;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    margin: 0;
    padding: 0;
  }
}

.extra__desc-item {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: var(--description-color);

  @media (min-width: 768px) {
    margin-left: 49px;
    font-size: 16px;
    line-height: 20px;
  }
}

.extra__desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    &--shugar::after {
      content: "";
      position: absolute;
      top: 111px;
      right: -38px;
      width: 707px;
      height: 1px;
      background-color: var(--pseudo-third-color);

      @media (min-width: 1440px) {
        top: -21px;
        right: 55px;
        width: 841px;
      }
    }

    &--water::after {
      content: "";
      position: absolute;
      top: 111px;
      right: -38px;
      width: 707px;
      height: 1px;
      background-color: var(--pseudo-third-color);

      @media (min-width: 1440px) {
        top: -22px;
        right: 55px;
        width: 841px;
      }
    }

    &--milk::after {
      content: "";
      position: absolute;
      top: 111px;
      right: -38px;
      width: 707px;
      height: 1px;
      background-color: var(--pseudo-third-color);

      @media (min-width: 1440px) {
        top: -21px;
        right: 55px;
        width: 841px;
      }
    }
  }

  &--vitamins::after {
    @media (min-width: 1440px) {
      content: "";
      position: absolute;
      top: -22px;
      right: 55px;
      width: 841px;
      height: 1px;
      background-color: var(--pseudo-third-color);
    }
  }

  &--vitamins::before {
    @media (min-width: 1440px) {
      content: "";
      position: absolute;
      background-color: var(--pseudo-third-color);
      height: 1px;
      top: 58px;
      right: 52px;
      width: 841px;
    }
  }

  @media (min-width: 1440px) {
    width: 285px;

    &--shugar {
      margin-left: 100px;
    }

    &--water {
      margin-left: 130px;
    }

    &--milk {
      margin-left: 190px;
    }

    &--vitamins {
      margin-left: 170px;
    }
  }
}

.extra__button {
  @media (min-width: 768px) {
    width: 632px;
  }

  @media (min-width: 1440px) {
    width: 244px;
  }
}
