.extra {
  @media (min-width: 768px) {
    width: 707px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    width: 896px;
    margin: 0;
    margin-bottom: 86px;
  }
}

.extra__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }
}

.extra__indent {
  margin-bottom: 49px;


  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
}

.extra__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
}

.extra__item {
  margin-bottom: 31px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 632px;
    margin: 0 auto;
    margin-bottom: 54px;
  }

  @media (min-width: 1440px) {
    flex-wrap: nowrap;
    margin: 0;
    width: 896px;
    margin-bottom: 42px;
  }
}


.extra__product-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);

  @media (min-width: 768px) {
    margin-bottom: 25px;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
  }
}

.extra__desc-item {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: var(--description-color);

  @media (min-width: 768px) {
    margin-left: 49px;
    font-size: 16px;
    line-height: 20px;
  }
}

.extra__desc {
  display: flex;
  justify-content: space-between;
}

.extra__button {
  @media (min-width: 768px) {
    width: 632px;
  }

  @media (min-width: 1440px) {
    width: 244px;

  }
}
