.fieldsets-indent {
  border: none;
  padding: 0;
  margin-left: 0;
}

.fieldsets-indent--about-cat {
  @media (min-width: 1440px) {
    width: 570px;
  }
}

.fieldsets-indent--catalog {
  margin-bottom: 32px;

  @media (min-width: 1440px) {
    width: 570px;
  }
}

.fieldsets-indent--contacts-owner {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: 1440px) {
    flex-wrap: nowrap;
  }
}

.fieldsets-indent--textarea {
  margin-bottom: 23px;

  @media (min-width: 768px) {
    margin-bottom: 65px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 67px;
  }
}

.fieldsets-indent__input {
  width: 280px;
  height: 150px;

  @media (min-width: 768px) {
    width: 631px;
    height: 174px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    height: 174px;
  }
}


.fieldsets-indent__button-form {
  @media (min-width: 768px) {
    display: flex;
    width: 520px;
  }

  @media (min-width: 1440px) {
    
  }
}
