
$breakpoint-desktop: 1440px;

$breakpoint-tablet: 768px;

.indent-age {
  width: 173px;
  padding: 0;
  margin-bottom: 14px;

  @media (min-width: $breakpoint-tablet) {
    width: 500px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 439px;
  }
}
