.legend-style__indent {
  margin-bottom: 35px;

  &::after {
    border: 2px solid var(--background-color-button);
    width: 99px;
    height: 0;
    content: "";
    position: absolute;
    top: 17px;
    left: 196px;

    @media (min-width: 768px) {
      width: 145px;
      left: 549px;
    }

    @media (min-width: 1440px) {
      width: 778px;
      left: 549px;
    }
  }

  @media (min-width: 768px) {
    &::before {
      border: 2px solid var(--background-color-button);
      width: 30px;
      height: 0;
      content: "";
      position: absolute;
      top: 17px;
      left: -69px;

      @media (min-width: 1440px) {
        width: 70px;
        left: -110px;
      }
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 76px;
  }
}
