.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 11px;
  margin-bottom: 45px;
  width: 280px;

  @media (min-width: 768px) {
    width: 700px;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 62px;
    padding-top: 18px;
  }

  @media (min-width: 1440px) {

    width: 1200px;
    margin-right: 120px;
    margin-left: 120px;
    padding-top: 69px;
  }
}


@media (min-width: 768px) {
  .main-header__logo-text {
    display: none;
  }

  .main-nav__button-toggle {
    display: none;
  }

  .main-header__logo-icon--tablet {
    background-image: url("../../img/index/logo-tablet.svg");
    width: 174px;
    height: 52px;
    display: block;
  }
}
