

.main-catlog__programs-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-catlog__programs-description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.main-catlog__programs-link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.main-catlog__programs {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}
