.main-nav__item {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .main-nav__container {
    display: none;
  }
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }
}

@media (min-width: 1440px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 478px;
  }
}
