

.main-catlog {
  @media (min-width: 1440px) {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.main-catlog__programs-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-catlog__programs-description {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--description-color);

  @media (min-width: 748px) {
    width: 340px;
  }
}

.main-catlog__programs-link {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.main-catlog__programs {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  width: 280px;

  @media (min-width: 748px) {
    width: 708px;
  }


}
