
$breakpoint-mobile: 767px;

$breakpoint-desktop: 1440px;

$breakpoint-tablet: 768px;

.main-catalog__programs-title-content-cat-back-sprite {
  left: 30px;
  position: absolute;
  width: 50px;
  height: 53px;

  @media (min-width: $breakpoint-tablet) {
    left: calc(100% - 271px);
    width: 200px;
    height: 211px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 100px;
    height: 106px;
    left: 68px;
    top: 20px;
  }
}

.main-catalog__programs-title-content-back-panda-sprite {
  position: absolute;
  width: 67px;
  height: 50px;
  left: 30px;

  @media (min-width: $breakpoint-tablet) {
    width: 268px;
    height: 200px;
    left: calc(100% - 304px);
  }

  @media (min-width: $breakpoint-desktop) {
    width: 134px;
    height: 100px;
    left: 49px;
    top: 31px;
  }
}

.main-catalog {
  position: relative;

  @media (min-width: $breakpoint-desktop) {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.main-catalog__programs-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 91px;
  width: 139px;
  display: block;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 77px;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    width: 206px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-left: 161px;
  }
}

.main-catalog__programs-description {
  font-family: var(--description-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--description-color);
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  width: 227px;

  @media (min-width: $breakpoint-tablet) {
    width: 340px;
    padding: 0;
    margin: 0;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 457px;
  }
}

.main-catalog__programs-link-arow-sprite {
  width: 24px;
  height: 12px;
  position: absolute;
  left: 134px;
  top: 232px;

  @media (min-width: $breakpoint-tablet) {
    left: 188px;
    top: 287px;
  }

  @media (min-width: $breakpoint-desktop) {
    top: 265px;
  }
}

.main-catalog__programs-link {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);

  &::after {
    @media (max-width: 767px) {
      position: absolute;
      width: 240px;
      height: 0;
      content: "";
      left: 15px;
      top: 206px;
      border: 1px solid var(--psevdo-color);
    }
  }

  &::before {
    // content: "";
    // background-image: url("../img/index/icon-arrow.png");
    // width: 24px;
    // height: 12px;
    // position: absolute;
    // left: 134px;
    // top: 232px;

    // @media (min-width: $breakpoint-tablet) {
    //   left: 188px;
    //   top: 287px;
    // }

    // @media (min-width: $breakpoint-desktop) {
    //   top: 265px;
    // }
  }

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: 57px;
  }
}

.main-catalog__programs {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  width: 280px;
  background-color: var(--background-color-secondary);
  margin-bottom: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  padding-bottom: 22px;
  position: relative;

  @media (min-width: $breakpoint-tablet) {
    width: 708px;
    margin-bottom: 30px;
    padding-left: 53px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 570px;
    margin-bottom: 0;
  }
}
