

:root {
  // fonts

  --oswald: "Oswald", "Arial", sans-serif;
  --lato: "Lato", "Tahoma", sans-serif;

  // colors

  --primary-color: #000000;

  // viewports

  --tablet-width: 768px;
  --decktop-width: 1440px;

}
